{
    "branches": ["main"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
          "@semantic-release/changelog",
          {
            "changelogFile": "CHANGELOG.md"
          }
        ],
        [
          "@semantic-release/npm", 
          {
            "npmPublish": false
          }
        ],
        [
          "@semantic-release/git",
          {
            "assets": 
            [
              "CHANGELOG.md",
              "src/**/*.{py}",
              "static/**/*.{js,html,css}",
              "sessions/**/*",
              "pre_sessions/**/*",
              "music/**/*",
              "guides/**/*"
            ]
          }
        ]
    ],
    "tagFormat": "${version}-rc"
  }